body {
    background-color: rgb(34, 37, 33);
    color: wheat;
    width: 100vw;
}

.navbar {
    background-color: rgba(48, 59, 48, 0.698);
}

.navbar-brand>img {
    width: 100px;
}

.nav-link {
    color: rgb(208, 241, 166);
}

.nav-link:hover {
    color: rgb(94, 255, 0);
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.card {
    background-color: rgb(34, 37, 33);
    border: 1px solid wheat;
}

.accordion-body,
.accordion,
.accordion-item {
    background-color: rgb(34, 37, 33);
    border-color: wheat;
}

.gallery-image {
    width: 300px;
    height: 200px;
    margin: 20px;
}

.form-row {
    margin: 5px;
}

.btn {
    background-color: rgb(208, 241, 166);
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(94, 255, 0);
}

.form-group>input,
textarea {
    background-color: rgb(208, 241, 166);
    color: rgb(34, 32, 32)
}

.orm-group>input::placeholder {
    color: rgb(34, 32, 32);
}

.date {
    color: rgb(34, 32, 32);
    cursor: pointer;
}