@media (max-width: 375px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: rgb(34, 37, 33);
        color: wheat;
        width: 100vw;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #o-nas,
    #galerija,
    #kontakt,
    #footer {
        border: 1px solid rgb(208, 241, 166);
        padding-top: 100px;
        padding-bottom: 100px;
    }

    #clani {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .navbar {
        background-color: rgba(48, 59, 48, 0.698);
        width: 100vw;
        position: fixed;
        z-index: 1;
    }

    .navbar-brand>img {
        width: 100px;
    }

    .nav-link {
        color: rgb(208, 241, 166);
    }

    .nav-link:hover {
        color: rgb(94, 255, 0);
    }

    #carouselSection {
        top: 70px;
    }

    .card {
        background-color: rgba(48, 59, 48, 0.698);
        border: 1px solid wheat;
    }

    .accordion-body,
    .accordion,
    .accordion-item {
        background-color: rgb(34, 37, 33);
        border-color: wheat;
    }

    .gallery-image {
        width: 300px;
        height: 200px;
        margin: 20px;
    }

    .form-row {
        margin: 5px;
    }

    .btn {
        background-color: rgb(208, 241, 166);
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(94, 255, 0);
    }

    .form-group>input,
    textarea {
        background-color: rgb(208, 241, 166);
        color: rgb(34, 32, 32)
    }

    .form-group>input::placeholder {
        color: rgb(34, 32, 32);
    }

    .date {
        color: rgb(34, 32, 32);
        cursor: pointer;
    }

    .facebook-video {
        width: 80%;
    }

    .youtube-video {
        width: 80%;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }
}

@media screen and (min-width:376px) {

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    body {
        background-color: rgb(34, 37, 33);
        color: wheat;
        width: 100vw;
    }

    #o-nas,
    #galerija,
    #kontakt {
        border: 1px solid rgb(208, 241, 166);
        padding-top: 100px;
        padding-bottom: 100px;
        border-radius: 10px;
        background-color: rgba(48, 59, 48, 0.698);
    }

    .navbar {
        position: fixed;
        background-color: rgba(48, 59, 48, 0.698);
        width: 100%;
        z-index: 1;
    }

    .navbar-brand>img {
        width: 100px;
    }

    .nav-link {
        color: rgb(208, 241, 166);
    }

    .nav-link:hover {
        color: rgb(94, 255, 0);
    }

    .navbar-collapse {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }

    .navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .zgornjaGalerija {
        margin-top: 4em;
    }

    .card {
        background-color: rgba(48, 59, 48, 0.698);
        border: 1px solid wheat;
    }

    .accordion-body,
    .accordion,
    .accordion-item {
        background-color: rgb(34, 37, 33);
        border-color: wheat;
    }

    .accordion-button {
        background-color: rgba(48, 59, 48, 0.698);
        color: rgb(208, 241, 166)
    }

    .accordion-button:hover {
        background-color: rgb(208, 241, 166);
        color: rgb(34, 32, 32)
    }

    .gallery-image {
        width: 300px;
        height: 200px;
        margin: 20px;
    }

    .form-row {
        margin: 5px;
    }

    .btn {
        background-color: rgb(208, 241, 166);
        font-weight: bold;
    }

    .btn:hover {
        background-color: rgb(94, 255, 0);
    }

    .form-group>input,
    textarea {
        background-color: rgb(208, 241, 166);
        color: rgb(34, 32, 32)
    }

    .orm-group>input::placeholder {
        color: rgb(34, 32, 32);
    }

    .form-group {
        text-align: text-center;
    }

    .date {
        color: rgb(34, 32, 32);
        cursor: pointer;
    }

    .facebook-video {
        width: 80%;
        height: 700px;
    }

    .youtube-video {
        width: 80%;
        height: 500px
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }
}